<!-- views/deleteaccount.ejs -->

<!doctype html>
<html lang="en">
<head>
    <title>Moviebot</title>
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link type="text/css" rel="stylesheet" href="../static/stylesheets/stylesheet.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="jumbotron text-center">
		<h1>Moviebot</h1>
		<p>Build a list of movies you want to watch and compare streaming services based on your list</p>
	</div>
	<div class="container">
		<p class="text-right"><strong>Account: <%= user.email %></strong></p>
	</div>
	<div class="container">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>Delete account</h1>
			<!-- Show any messages -->
			<% if (dangerMessage.length > 0) { %>
				<div class="alert alert-danger"><%= dangerMessage %></div>
			<% } %>
			<% if (warningMessage.length > 0) { %>
				<div class="alert alert-warning"><%= warningMessage %></div>
			<% } %>
			<% if (infoMessage.length > 0) { %>
				<div class="alert alert-info"><%= infoMessage %></div>
			<% } %>
			<% if (successMessage.length > 0) { %>
				<div class="alert alert-success"><%= successMessage %></div>
			<% } %>
			<!-- CHANGE PASSWORD FORM -->
			<p> Are you sure you want to delete your account? </p>
			<form action="/deleteaccount" method="post">
				<button type="submit" class="btn btn-danger">Yes</button>
				<a href="/list" class="btn btn-default">No</a>
			</form>
		</div>
	</div>
</body>
</html>