<!-- views/list.ejs -->

<!doctype html>
<html lang="en">
<head>
    <title>Moviebot</title>
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link type="text/css" rel="stylesheet" href="../static/stylesheets/stylesheet.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/javascripts/script.js"></script>
</head>
<body>
	<div class="jumbotron text-center">
		<h1>Moviebot</h1>
		<p>Build a list of movies you want to watch and compare streaming services based on your list</p>
		<a href="/changepassword" class="btn btn-default btn-sm">Change password</a>
		<a href="/deleteaccount" class="btn btn-default btn-sm">Delete account</a>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>
	<div class="container">
		<p class="text-right"><strong>Account: <%= user.email %></strong></p>
	</div>
	<div class="container">
		<!-- Show any messages -->
		<% if (dangerMessage.length > 0) { %>
			<div class="alert alert-danger"><%= dangerMessage %></div>
		<% } %>
		<% if (warningMessage.length > 0) { %>
			<div class="alert alert-warning"><%= warningMessage %></div>
		<% } %>
		<% if (infoMessage.length > 0) { %>
			<div class="alert alert-info"><%= infoMessage %></div>
		<% } %>
		<% if (successMessage.length > 0) { %>
			<div class="alert alert-success"><%= successMessage %></div>
		<% } %>
	</div>
	<div class="container">
		<div class="form-inline">
			<div class="form-group">
				<label class="sr-only" for="search"> Search:</label>
				<input type="search" class="form-control" id="searchBox" placeholder="Enter a movie title"/>
			</div>
			<button type="button" class="btn btn-default searchButton" id="searchButton">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</div>
	</div>
	<div class="container">
		<h3>Search results</h3>
		<div id="searchResultsErrorBox" display="none">
		</div>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<th>Title</th>
					<th>Release year</th>
					<th>Add</th>
				</thead>
				<tbody id="searchResultsTableBody">
				</tbody>
			</table>
		</div>
	</div>
	<div class="container">
		<h3>Movie list</h3>
		<div id="movieListErrorBox" display="none">
		</div>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th rowspan="2">Title</th>
						<th rowspan="2">Release year</th>
						<th colspan="2">Subscription</th>
						<th colspan="4">Rental</th>
						<th rowspan="2">Update</th>
						<th rowspan="2">Remove</th>
					</tr>
					<tr>
						<th>Netflix</th>
						<th>Amazon</th>
						<th>Amazon</th>
						<th>iTunes</th>
						<th>Google Play</th>
						<th>Vudu</th>
					</tr>
				</thead>
				<tbody id="movieListTableBody">
				</tbody>
			</table>
		</div>
	</div>
	<div class="container">
		<p>Powered by <a href="http://canistream.it">CanIStream.It</a></p>
	</div>
</body>
</html>